#menu .navbar.navbar-default img
{
    float: left;
    padding: 1%;
}

#rodape
{
    position: absolute;
    bottom: 0;
    margin: 2% 36%;
}

#h1
{
    margin: 5%;
}

#corpo .table.table-striped
{
    width: 90%;
    margin: 5%;
}

#corpo #FormUsuario
{
    width: 20%;
    text-align: center;
    margin: 2% auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2%;
}

