body
{
    background-color: #D9D9D9;
}

#topo img 
{
    margin: 1% 46% auto;
    padding: 10px;
    display: block;
   
}

#menu
{
    margin: 0 5%;
    width: 90%;
}

#corpo img
{
    margin: 0% auto;
    padding: 0% 2% 0%;
    display: block;
}

#corpo #Linguagem img
{
    margin: -20px auto;
    width: 20%;
}

#corpo h1
{
    margin: 0% 5%;
    text-align: center;
    font-weight: bold;
}

#corpo h2
{
    text-align: center;
}

#corpo #FormQuemSomos textArea
{
    margin: 0 20% auto;
    width: 1100px;
    height: 600px;
}

#corpo #FormQuemSomos #inputQuemSomos
{
    margin: 0 44.5% auto;
}

#corpo table.table.table-striped tbody tr td textArea
{
    width: 400px;
    height: 200px;

}

#corpo #formNovoUsuario
{
    margin: 0 45.6%;
}

#corpo #formNovoUsuario #buttonNovoUsuario
{
    text-align: center;
    width: 200%;
    margin-left: -47%;
}

#corpo .noticia
{
    border: solid 1px;
    margin: 2% 25%;
    width: 50%;
}

#corpo .noticia img
{
    float: left;
    max-width: 80px;
    max-height: 80px;
    margin: 2%;
    padding: 5%;
}

#corpo .noticia p
{
    text-align: justify;
    margin: 0 5%;
}

#corpo .noticia p textArea
{
    width: 700px;
    height: 50px;
}

#corpo .Linguagem #textoLinguagem p img
{
        margin: 0% 25%;
    width: 50%;
}

/*#corpo #corpoLinguagem input
{
    width: 60%;
    height: 300px;
    margin: 0 20%;
}*/

#corpo #corpoLinguagem h3
{
    margin: 0 47%;
    text-align: center;
}

#corpo #botaoLinguagem
{
    margin: 1% 44.5% 10px;

}

#corpo #corpoLinguagem img
{
    margin: -20px auto;
    width: 15%;
    padding: 2%;
}

#corpo #corpoLinguagem form textarea
{
    width: 60%;
    margin: 0 20%;
    height: 500px;
}

#rodape
{
    margin: 0 0 10%;
    text-align: center;
    font-weight: bold;
}