#topo img 
{
   margin: 5%;
   border: 1px solid #000;
   padding: 70px;
   
}

#topo #icones
{
       float: right;
       margin: 5%;
}

#menu
{
    margin: 0 5%;
    width: 90%;
}

#corpo h1
{
    margin: 2% 5%;
}

#corpo img
{
   margin: 0 5%;
   border: 1px solid #000;
   padding: 100px;
   float: left;
}

#corpo #textoIndex
{
    width: 95%;
    text-align: justify;
}

#corpo #textoQuemSomoseHistoria
{
    max-width: 96%;
    text-align: justify;
    margin: 0 5%;
    padding: 2%;
}

#corpo #textoQuemSomoseHistoria .imgQuemSomoseHistoria
{
    float:right;
}

#corpo #textoQuemSomoseHistoria .imgQuemSomoseHistoria2
{
    margin: 0 5% 0 -2.4%;
}

#corpo .noticia
{
    border: solid 1px;
    margin: 2% 5%;
    width: 90%;
}

#corpo .noticia img
{
    float: left;
    max-width: 80px;
    max-height: 80px;
    margin: 2%;
    padding: 5%;
}

#corpo .noticia p
{
    text-align: justify;
    margin: 0 2%;
}

#contato
{
    width: 20%;
    margin: 0 auto;
}

#rodape
{
    margin: 5%;
    text-align: center;
    font-weight: bold;
}

#login
{
    border: 1px solid;
    width: 20%;
    text-align: center;
    margin: 10% auto;
    background: #ccc;
    border-radius: 6px;
    box-shadow: 2px 2px;
    padding: 2%;
}